<div id="<%= dom_id order %>">
  <p>
    <strong>Total:</strong>
    <%= order.total %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= order.status %>
  </p>

  <p>
    <strong>Payment method:</strong>
    <%= order.payment_method %>
  </p>

  <p>
    <strong>Note:</strong>
    <%= order.note %>
  </p>

  <p>
    <strong>User:</strong>
    <%= order.user_id %>
  </p>

</div>
