<%= form_with(model: [:admin, product]) do |form| %>
	<% if product.errors.any? %>
		<div style="color: red">
			<h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>
			<ul>
				<% product.errors.each do |error| %>
					<li><%= error.full_message %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
	<div class="container">
		<div>
			<%= form.label :name, class: 'form-label' %>
			<%= form.text_field :name, class: 'form-control', style: "width: 30rem;"%>
		</div>
		<div>
			<p><%= form.label :price, class: 'form-label' %></p>
			<%= form.number_field :price, style: "width: 18rem;" %>
		</div>
		<div class="field">
			<%= form.label :description, class: 'form-label' %>
			<%= form.rich_text_area :content %>
		</div>
		<div class="mt-3">
			<%= form.label :image, class: "form-label" %>
			<%= form.file_field :image %>
		</div>
		<div class="mt-3" style="width: 18rem;">
			<%= form.label :category_id, class: "form-label" %>
			<%= form.collection_select :category_id, Category.order(:name), :id, :name, {prompt: true}, {class: "form-control"} %>
		</div>
	</div>
	<div>
		<%= form.submit class: 'btn btn-primary mt-4'%>
	</div>
<% end %>
