<div id="<%= dom_id product %>">
	<p>
		<strong>Name:</strong>
		<%= product.name %>
	</p>
	<p>
		<strong>Price:</strong>
		<%= product.price %>
	</p>
	<% if product.image.attached? %>
		<div>
			<%= image_tag product.image.variant(:thumb), class: "card-image-top" %>
		</div>
	<% end %>
	<p>
		<strong>Description:</strong>
		<%= product.description %>
	</p>
	<p>
		<strong>Category:</strong>
		<%= product.category_id %>
	</p>
</div>
