 <nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Fifth navbar example">
	<div class="container-fluid">
		<a class="navbar-brand" href="<%= root_path %>">Minishop</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample05"
          aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarsExample05">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="<%= root_path %>">Home</a>
				</li>
				<% if user_signed_in? %>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Admin</a>
						<ul class="dropdown-menu">
							<li><a class="dropdown-item" href="<%= admin_categories_path %>">Categories</a></li>
							<li><a class="dropdown-item" href="<%= admin_products_path %>">Products</a></li>
							<li><a class="dropdown-item" href="#">Something else here</a></li>
						</ul>
					</li>
				<% end %>
				<li class="nav-item">
					<a class="nav-link" href="<%= list_products_path %>">Products</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Order</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">About</a>
				</li>
			</ul>
			<form role="search" class="me-2">
				<input class="form-control" type="search" placeholder="Search" aria-label="Search">
			</form>
			<div class="text-end">
				<% if user_signed_in? %>
					<span class="text-white mx-2"><%= current_user.email %></span>
					<%= link_to "Sign out", destroy_user_session_path, class: "btn btn-warning", data: { turbo_method: "delete" } %>
				<% else %>
					<%= link_to "Login", new_user_session_path, class: "btn btn-outline-light me-2" %>
					<%= link_to "Sign-up", new_user_registration_path, class: "btn btn-warning" %>
				<% end %>
			</div>
		</div>
	</div>
</nav>
